{% extends "book_review/index.html" %}

{% block title %}
  Book Review Add Page
{% endblock %}

{% block content %}
  <h2>Add a New Book Title and a Review:</h2>
  {% if messages %}
   <div class="errors">
       {% for message in messages %}
          <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
       {% endfor %}
   </div>
  {% endif %}
  <form action="{% url 'books_add_book' %}" method='post'>
    {% csrf_token %}
    <h3>Book Title:</h3>
    <input type="text" name="title">
    <h3>Author:</h3>
    <p> Choose from the list: </p>
    <select name="author1">
      <option value="select" selected="selected">Select</option>
      {% for book in books %}
        <option value={{book.author}} >{{book.author}}</option>
      {% endfor %}
    </select>
    <p> Or add a new author: </p>
    <input type="text" name="author2">
    <h3>Review:</h3>
    <input type="text" name="review">
    <h3>Rating:</h3>
    <select name="rating">
      <option value="0" selected="selected">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br><br>
    <input type="submit" value="Add Book and Review">
  </form>
{% endblock %}
