{% extends "book_review/index.html" %}

{% block title %}
  Book Review Specific Book Page
{% endblock %}

{% block content %}
  <h2>{{book.title}}</h2>
  <p>Author: {{book.author}}</p>
  <br>
  <h3>Reviews:</h3>
  <h4>******************************</h4>
  {% for review in reviews %}
    <h4>Rating:</h4>
    <p>{{review.rating}}</p>
    <p><a href="{% url 'books_user' user_id=review.user_id.id%}">{{review.user_id.username}}</a> says: {{review.review}}</p>
    <p>Posted on {{review.created_at}}</p>
    {% if review.user_id.id == request.session.user%}
      <a href="{% url 'books_delete_review' review_id=review.id %}">Delete</a>
    {%endif%}
    <h4>******************************</h4>
  {% endfor %}
  <h3>Add a review:</h3>
  <form action="{% url 'books_add_review' book_id=book.id%}" method='post'>
    {% csrf_token %}
    Review: <input type="text" name="review">
    Rating:
    <select name="rating">
      <option value="0" selected="selected">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Book and Review">
  </form>
{% endblock %}
