{% extends "book_review/index.html" %}

{% block title %}
  Book Review User Page
{% endblock %}

{% block content %}
  <h3>Username:</h3>
  <p>{{user.username}}</p>
  <h3>Name:</h3>
  <p>{{user.first_name}} {{user.last_name}}</p>
  <h3>Email:</h3>
  <p>{{user.email}}</p>
  <h3>Total reviews:</h3>
  <p>{{total}}</p>
  <h4>Posted Reviews on the following books:</h4>
  <ul>
    {% for review in reviews %}
      {% if review.book_id.title != '' %}
      <li><a href="{% url 'books_specific' book_id=review.book_id.id%}">{{review.book_id.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}
