{% extends "travel_plan/index.html" %}

{% block title %}
  Travel Buddy Specific Travel Page
{% endblock %}

{% block content %}
    <h2>Add a Trip</h2>
    {% if messages %}
        <div class="errors">
          {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
        </div>
    {% endif %}
    <h2>{{travel.destination}}</h2>
    <p>Planned By: {{travel.user_id.username}}</p>
    <p>Description: {{travel.plan}}</p>
    <p>Travel Date From: {{travel.start}}</p>
    <p>Travel Date To: {{travel.end}}</p>
    <h3>Other user's joining the trip</h3>
    {%  for join in joins %}
      {% if request.session.user != join.user_id.id%}
        <p>{{join.user_id.name}}</p>
      {% endif %}
    {% endfor %}

{% endblock %}
