<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Hello</h1>
  {% if request.session.user%}
    <h2 id="note">Welcome user {{request.session.user}}! You're successfully logged in!</h2>
    <a href="{% url 'dashboard_show' user_id=request.session.user %}">My Page</a>
    <a href="{% url 'log_logout'%}">Logout</a>
  {% endif %}
  {% if not request.session.user%}
    <h2>Here the register redirect should be</h2>
  {% endif %}
</body>
</html>
